.rigth-container {
    width: 30vw;
    padding: 3px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    min-width: 380px;
    flex-grow: 1;
  }
  .objectif-item {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
  }
  
  .objectif-progess {
    width: 55px;
    height: 10px !important;
    border-radius: 3px;
  }
.onbording-img{
  background-color: snow;
  box-shadow: 0px 0px 40px 10px snow;
  border-radius: 30px;
  margin: 2px;
  text-align: center;
}
  