.slider {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  
  .left-model,
  .right-model{
    display: block;
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .right-model{
    left: auto !important;
    inset: 0px 0px auto auto !important;
  }

  .slider-rigth-container-centerd{
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: 16px;
    align-items: flex-start;
  }